:host {
    width: 100%;  
}

.kanban-board {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
    justify-content: space-evenly;    
       
}

.kanbanBoard__column {
    background-color: rgba(0,0,0,0.04);
    padding: 0 5px;
    margin: 0 5px;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;  
    span {
        line-height: 30px;
    }
}



.kanbanBoard__ticket, .cdk-drag-preview {
    display: block;
    background-color: #fff;
    cursor: pointer;
}

.cdk-drag-preview {
    opacity: 0.5;
}

.kanbanBoard_controls {
    display: flex;
    height: 50px;
    width:100%;
    margin: 0;

    mat-icon {
        cursor: pointer;    
        padding: 0;
        display: inline-block;
        padding-top: 13px;
    }
       
    span {
        line-height: 50px;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
    }
}

