@import 'src/scss/breakpoints.scss';
@import 'src/scss/variables.scss';
@import 'src/scss/gutters.scss';

.g-layout__container, .g-layout__view-container {
    padding: 0 $gutter-y;
    display: block;
}

.g-layout__nav-container, .g-layout__list-container, .g-layout__view-container {
    display: block;
    padding: $gutter-x $gutter-y;
}

.g-layout__view-container {
    button {
        display: inline-block;
        margin:0 20px;
        padding: 0 20px;
    }
}
.g-layout__list-container {
    button {
        margin: 0 0 20px 0;
    }

    table {
        width: 100%;
    }
}

.g-layout__overlay-container {
    min-width: 70vw;
    min-height: 70vh;

    .mat-form-field {
        display: block;
    }

    mat-card {
        min-width: 100%;
        min-height: 100%;
        h1 {
            margin: 30px 0 20px;
        }

        .actions {
            display: flex;
            justify-content: center;
            margin: 0 0 30px 0;

            button {
                margin: 0 10px;
            }
        }
    }    
}

@media screen and (min-width: $screen-md) {
    .g-layout__container {
        padding: 0 $gutter-desktop-y;
    }

    .g-layout__list-container, .g-layout__nav-container, .g-layout__view-container {
        padding: $gutter-desktop-x $gutter-desktop-y;
    }
}

@media screen and (min-width: 1420px) {
    .g-layout__container {
        padding: 0 0  0 0;
    }

    .g-layout__list-container, .g-layout__nav-container, .g-layout__view-container {
        padding: $gutter-desktop-x 0 $gutter-desktop-x $gutter-desktop-y;
    }
}