$gutter-x: 50px;
$gutter-y: 17px;
$gutter-top: $gutter-x;
$gutter-right: $gutter-y;
$gutter-bottom: $gutter-x;
$gutter-left: $gutter-y;

$gutter-desktop-x: $gutter-x;
$gutter-desktop-y: 40px;
$gutter-desktop-top: $gutter-x;
$gutter-desktop-right: $gutter-desktop-y;
$gutter-desktop-bottom: $gutter-x;
$gutter-desktop-left: $gutter-desktop-y;
