<ng-container *ngIf='vm$ | async as vm'>
  <div  class='kanban-board__controls'>
    <mat-icon aria-hidden="false" aria-label="add icon" (click)="handleAddClick(vm)">add</mat-icon>
    <span (click)='handleSelectBoardClick(vm)'> {{ vm.board.name }}</span>
    <span> {{ vm.teamMember.name }}</span>
  </div>
  <div class='kanban-board' cdkDropListGroup>    
    <div class='kanban-board__column' cdkDropList [cdkDropListData]="ticketsByState(vm.board, boardState)" (cdkDropListDropped)="drop($event, boardState)" *ngFor='let boardState of vm.boardStates'>
        <span>{{ boardState.type }}</span>
        
        <app-ticket *ngFor='let ticket of ticketsByState(vm.board, boardState)' [ticket]='ticket' cdkDrag></app-ticket>
    </div>
  </div>
</ng-container>