
<div *ngIf='isAuthenticated' class='kanbanBoard_controls'>
  <mat-icon aria-hidden="false" aria-label="add icon" (click)="handleAddClick()">add</mat-icon>
  <span (click)='handleSelectBoardClick()'> {{ (board$ | async)?.name }}</span>
  <span> {{ (teamMember$ | async)?.name }}</span>
</div>
<div *ngIf='isAuthenticated' class='kanban-board' cdkDropListGroup>    
  <div class='kanbanBoard__column' cdkDropList [cdkDropListData]="ticketsByState$(state) | async" (cdkDropListDropped)="drop($event, state)" *ngFor='let state of (states$ | async)'>
      <span>{{ state.name }}</span>
      
      <app-ticket *ngFor='let ticket of (ticketsByState$(state) | async)' [ticket]='ticket' cdkDrag></app-ticket>
  </div>
</div>