<mat-card>
  <mat-card-title>Create Ticket</mat-card-title>

  <form novalidate autocomplete="off" spellcheck="false" [formGroup]='form'>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>State</mat-label>
      <input matInput formControlName="state">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Acceptance Criteria</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                formControlName="acceptanceCriteria"></textarea>
    </mat-form-field>    
  
    <div class='actions'>
      <button mat-button (click)='handleSaveClick()'>Save</button>
      <button mat-button (click)='handleCancelClick()'>Cancel</button>
    </div>
  </form>
</mat-card>