<mat-card>
  <mat-card-title>Create Ticket</mat-card-title>

  <form novalidate autocomplete="off" spellcheck="false" [formGroup]='form'>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
        
    <mat-form-field>
      <mat-label>State</mat-label>
      <select matNativeControl formControlName="state">
        <option></option>
        <option [value]="state.stateId" *ngFor='let state of (board$ | async).states'>{{ state.name }}</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Acceptance Criteria</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"
                formControlName="acceptanceCriteria"></textarea>
    </mat-form-field>    
  
    <div class='actions'>
      <button mat-button (click)='handleSaveClick()'>Save</button>
      <button mat-button (click)='handleDeleteClick()'>Delete</button>
      <button mat-button (click)='handleCancelClick()'>Cancel</button>
    </div>
  </form>

  <app-create-comment *ngIf='ticket.ticketId' [ticketId]='ticket.ticketId'></app-create-comment>

  <div *ngFor='let comment of ticket.comments' class='comment'>
    <span class='comment__created'>{{ comment.created | date:'medium' }}</span>
    {{ comment.description }}
  </div>
</mat-card>