:host {
    background-color: #fff;
    min-width: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    cursor: pointer;
}

mat-form-field {
    display: block;
    min-width: 250px;
}

mat-card-title {
    margin-bottom: 20px;
}
.actions {
    margin-bottom: 20px;
}