<h2>Create Ticket</h2>

<form novalidate autocomplete="off" spellcheck="false" [formGroup]='form'>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>State</mat-label>
      <input matInput formControlName="state">
    </mat-form-field>

  
    <div class='actions'>
      <button mat-button (click)='handleSaveClick()'>Save</button>
      <button mat-button (click)='handleCancelClick()'>Cancel</button>
    </div>
  </form>