:host {
    background-color: #fff;
    min-width: 800px;
    overflow-x: hidden;
    overflow-y: auto;
}

mat-card {
    padding-bottom: 50px;
}

a {
    cursor: pointer;
}

mat-form-field {
    display: block;
    min-width: 250px;
}

mat-card-title {
    margin-bottom: 20px;
}

.actions {
    margin-bottom: 20px;
}

.comment {
    margin-bottom: 30px;

    .comment__created {
        font-size: 10px;
        display: block;
        line-height: 2em;
    }
}